<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfbioxWofN-SPrMM8NU73cXOX-8aK_dbA</string>
	<key>GCM_SENDER_ID</key>
	<string>253625285432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubic.task</string>
	<key>PROJECT_ID</key>
	<string>cubic-hiring-task</string>
	<key>STORAGE_BUCKET</key>
	<string>cubic-hiring-task.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253625285432:ios:522e1cef2bbb3dfe829fcd</string>
</dict>
</plist>